/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.8-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: HelpdeskGesicBDD
-- ------------------------------------------------------
-- Server version	11.8.8-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `categorie_ticket`
--

DROP TABLE IF EXISTS `categorie_ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorie_ticket` (
  `id_categorie` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(150) NOT NULL,
  `valeur_bloquant` int(11) NOT NULL,
  PRIMARY KEY (`id_categorie`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorie_ticket`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `categorie_ticket` WRITE;
/*!40000 ALTER TABLE `categorie_ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorie_ticket` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `id_client` int(11) NOT NULL AUTO_INCREMENT,
  `raison_social` varchar(150) NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `code_postal` varchar(10) DEFAULT NULL,
  `num_tel` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `positionX` decimal(10,7) DEFAULT NULL,
  `positionY` decimal(10,7) DEFAULT NULL,
  `date_creation` datetime NOT NULL,
  `top_actif` tinyint(4) NOT NULL,
  PRIMARY KEY (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `compte_rendu`
--

DROP TABLE IF EXISTS `compte_rendu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `compte_rendu` (
  `id_compte_rendu` int(11) NOT NULL AUTO_INCREMENT,
  `contenu` longtext NOT NULL,
  `temps_traitement_minutes` int(11) DEFAULT NULL,
  `date_redaction` datetime NOT NULL,
  `id_ticket` int(11) NOT NULL,
  `id_utilisateur` int(11) NOT NULL,
  PRIMARY KEY (`id_compte_rendu`),
  UNIQUE KEY `UNIQ_D39E69D2B197184E` (`id_ticket`),
  KEY `IDX_D39E69D250EAE44` (`id_utilisateur`),
  CONSTRAINT `FK_D39E69D250EAE44` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_D39E69D2B197184E` FOREIGN KEY (`id_ticket`) REFERENCES `ticket` (`id_ticket`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compte_rendu`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `compte_rendu` WRITE;
/*!40000 ALTER TABLE `compte_rendu` DISABLE KEYS */;
/*!40000 ALTER TABLE `compte_rendu` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int(11) DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
INSERT INTO `doctrine_migration_versions` VALUES
('DoctrineMigrations\\Version20260603092459','2026-08-16 09:09:45',3315);
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `histo_statut_ticket`
--

DROP TABLE IF EXISTS `histo_statut_ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `histo_statut_ticket` (
  `id_historique` int(11) NOT NULL AUTO_INCREMENT,
  `date_changement` datetime NOT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `id_ticket` int(11) NOT NULL,
  `id_statut_avt` int(11) NOT NULL,
  `id_statut_ap` int(11) NOT NULL,
  `id_utilisateur` int(11) NOT NULL,
  PRIMARY KEY (`id_historique`),
  KEY `IDX_D3E64762B197184E` (`id_ticket`),
  KEY `IDX_D3E64762519C1F35` (`id_statut_avt`),
  KEY `IDX_D3E64762A416DA56` (`id_statut_ap`),
  KEY `IDX_D3E6476250EAE44` (`id_utilisateur`),
  CONSTRAINT `FK_D3E6476250EAE44` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_D3E64762519C1F35` FOREIGN KEY (`id_statut_avt`) REFERENCES `statut_ticket` (`id_statut`),
  CONSTRAINT `FK_D3E64762A416DA56` FOREIGN KEY (`id_statut_ap`) REFERENCES `statut_ticket` (`id_statut`),
  CONSTRAINT `FK_D3E64762B197184E` FOREIGN KEY (`id_ticket`) REFERENCES `ticket` (`id_ticket`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `histo_statut_ticket`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `histo_statut_ticket` WRITE;
/*!40000 ALTER TABLE `histo_statut_ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `histo_statut_ticket` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `impact`
--

DROP TABLE IF EXISTS `impact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `impact` (
  `id_impact` int(11) NOT NULL AUTO_INCREMENT,
  `niveau` varchar(10) NOT NULL,
  `libelle` varchar(100) NOT NULL,
  `prompt` longtext NOT NULL,
  `note` smallint(6) NOT NULL,
  PRIMARY KEY (`id_impact`),
  UNIQUE KEY `UNIQ_C409C0074BDFF36B` (`niveau`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `impact`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `impact` WRITE;
/*!40000 ALTER TABLE `impact` DISABLE KEYS */;
/*!40000 ALTER TABLE `impact` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `logiciel`
--

DROP TABLE IF EXISTS `logiciel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `logiciel` (
  `id_logiciel` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(100) NOT NULL,
  `description` longtext DEFAULT NULL,
  `fk_type_logiciel` varchar(80) DEFAULT NULL,
  `coeff_criticite` decimal(3,1) NOT NULL,
  `top_actif` tinyint(4) NOT NULL,
  PRIMARY KEY (`id_logiciel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logiciel`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `logiciel` WRITE;
/*!40000 ALTER TABLE `logiciel` DISABLE KEYS */;
/*!40000 ALTER TABLE `logiciel` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `logiciel_client`
--

DROP TABLE IF EXISTS `logiciel_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `logiciel_client` (
  `id_client_logiciel` int(11) NOT NULL AUTO_INCREMENT,
  `date_installation` date DEFAULT NULL,
  `version_logiciel` varchar(20) DEFAULT NULL,
  `notes` longtext DEFAULT NULL,
  `date_creation` datetime NOT NULL,
  `id_client` int(11) NOT NULL,
  `id_logiciel` int(11) NOT NULL,
  PRIMARY KEY (`id_client_logiciel`),
  KEY `IDX_1A45CC94E173B1B8` (`id_client`),
  KEY `IDX_1A45CC947C8B8A09` (`id_logiciel`),
  CONSTRAINT `FK_1A45CC947C8B8A09` FOREIGN KEY (`id_logiciel`) REFERENCES `logiciel` (`id_logiciel`),
  CONSTRAINT `FK_1A45CC94E173B1B8` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logiciel_client`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `logiciel_client` WRITE;
/*!40000 ALTER TABLE `logiciel_client` DISABLE KEYS */;
/*!40000 ALTER TABLE `logiciel_client` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id_message` int(11) NOT NULL AUTO_INCREMENT,
  `contenu` longtext NOT NULL,
  `top_actif` tinyint(4) NOT NULL,
  `date_envoi` datetime NOT NULL,
  `id_ticket` int(11) NOT NULL,
  `id_utilisateur` int(11) NOT NULL,
  `id_message_parent` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_message`),
  KEY `IDX_B6BD307FB197184E` (`id_ticket`),
  KEY `IDX_B6BD307F50EAE44` (`id_utilisateur`),
  KEY `IDX_B6BD307F37CF4046` (`id_message_parent`),
  CONSTRAINT `FK_B6BD307F37CF4046` FOREIGN KEY (`id_message_parent`) REFERENCES `message` (`id_message`),
  CONSTRAINT `FK_B6BD307F50EAE44` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_B6BD307FB197184E` FOREIGN KEY (`id_ticket`) REFERENCES `ticket` (`id_ticket`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `messenger_messages`
--

DROP TABLE IF EXISTS `messenger_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `messenger_messages` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `body` longtext NOT NULL,
  `headers` longtext NOT NULL,
  `queue_name` varchar(190) NOT NULL,
  `created_at` datetime NOT NULL,
  `available_at` datetime NOT NULL,
  `delivered_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750` (`queue_name`,`available_at`,`delivered_at`,`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messenger_messages`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `messenger_messages` WRITE;
/*!40000 ALTER TABLE `messenger_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messenger_messages` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `priorite`
--

DROP TABLE IF EXISTS `priorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `priorite` (
  `id_priorite` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(50) NOT NULL,
  `niveau_criticite` int(11) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_priorite`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `priorite`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `priorite` WRITE;
/*!40000 ALTER TABLE `priorite` DISABLE KEYS */;
/*!40000 ALTER TABLE `priorite` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `statut_ticket`
--

DROP TABLE IF EXISTS `statut_ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `statut_ticket` (
  `id_statut` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(50) NOT NULL,
  `couleur_lib` varchar(7) NOT NULL,
  `top_actif` tinyint(4) NOT NULL,
  PRIMARY KEY (`id_statut`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statut_ticket`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `statut_ticket` WRITE;
/*!40000 ALTER TABLE `statut_ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `statut_ticket` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tache`
--

DROP TABLE IF EXISTS `tache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tache` (
  `id_tache` int(11) NOT NULL AUTO_INCREMENT,
  `date_creation` datetime NOT NULL,
  `libelle` varchar(200) NOT NULL,
  `description` longtext DEFAULT NULL,
  `date_realisation` datetime DEFAULT NULL,
  `statut` varchar(255) NOT NULL,
  `id_ticket` int(11) DEFAULT NULL,
  `id_utilisateur_assign` int(11) NOT NULL,
  `id_utilisateur_creat` int(11) NOT NULL,
  PRIMARY KEY (`id_tache`),
  KEY `IDX_93872075B197184E` (`id_ticket`),
  KEY `IDX_9387207590AD2185` (`id_utilisateur_assign`),
  KEY `IDX_938720758BE64456` (`id_utilisateur_creat`),
  CONSTRAINT `FK_938720758BE64456` FOREIGN KEY (`id_utilisateur_creat`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_9387207590AD2185` FOREIGN KEY (`id_utilisateur_assign`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_93872075B197184E` FOREIGN KEY (`id_ticket`) REFERENCES `ticket` (`id_ticket`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tache`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tache` WRITE;
/*!40000 ALTER TABLE `tache` DISABLE KEYS */;
/*!40000 ALTER TABLE `tache` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `ticket`
--

DROP TABLE IF EXISTS `ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticket` (
  `id_ticket` int(11) NOT NULL AUTO_INCREMENT,
  `titre` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `note_priorite` int(11) NOT NULL,
  `niveau_impact` varchar(255) NOT NULL,
  `date_creation` datetime NOT NULL,
  `date_cloture` datetime DEFAULT NULL,
  `id_utilisateur` int(11) NOT NULL,
  `id_assigne` int(11) DEFAULT NULL,
  `id_destinataire` int(11) DEFAULT NULL,
  `id_priorite` int(11) NOT NULL,
  `id_statut` int(11) NOT NULL,
  `id_logiciel_client` int(11) NOT NULL,
  `id_categorie` int(11) NOT NULL,
  PRIMARY KEY (`id_ticket`),
  KEY `IDX_97A0ADA350EAE44` (`id_utilisateur`),
  KEY `IDX_97A0ADA390E462FD` (`id_assigne`),
  KEY `IDX_97A0ADA3DD688AE0` (`id_destinataire`),
  KEY `IDX_97A0ADA3267C6CFD` (`id_priorite`),
  KEY `IDX_97A0ADA3C3534552` (`id_statut`),
  KEY `IDX_97A0ADA3F31B0F1C` (`id_logiciel_client`),
  KEY `IDX_97A0ADA3C9486A13` (`id_categorie`),
  CONSTRAINT `FK_97A0ADA3267C6CFD` FOREIGN KEY (`id_priorite`) REFERENCES `priorite` (`id_priorite`),
  CONSTRAINT `FK_97A0ADA350EAE44` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_97A0ADA390E462FD` FOREIGN KEY (`id_assigne`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_97A0ADA3C3534552` FOREIGN KEY (`id_statut`) REFERENCES `statut_ticket` (`id_statut`),
  CONSTRAINT `FK_97A0ADA3C9486A13` FOREIGN KEY (`id_categorie`) REFERENCES `categorie_ticket` (`id_categorie`),
  CONSTRAINT `FK_97A0ADA3DD688AE0` FOREIGN KEY (`id_destinataire`) REFERENCES `utilisateur` (`id_user`),
  CONSTRAINT `FK_97A0ADA3F31B0F1C` FOREIGN KEY (`id_logiciel_client`) REFERENCES `logiciel_client` (`id_client_logiciel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `ticket` WRITE;
/*!40000 ALTER TABLE `ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `urgence`
--

DROP TABLE IF EXISTS `urgence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `urgence` (
  `id_urgence` int(11) NOT NULL AUTO_INCREMENT,
  `niveau` varchar(10) NOT NULL,
  `libelle` varchar(100) NOT NULL,
  `prompt` longtext NOT NULL,
  `note` smallint(6) NOT NULL,
  PRIMARY KEY (`id_urgence`),
  UNIQUE KEY `UNIQ_737D6BCD4BDFF36B` (`niveau`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `urgence`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `urgence` WRITE;
/*!40000 ALTER TABLE `urgence` DISABLE KEYS */;
/*!40000 ALTER TABLE `urgence` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(80) NOT NULL,
  `prenom` varchar(80) NOT NULL,
  `email` varchar(150) NOT NULL,
  `entreprise` varchar(150) DEFAULT NULL,
  `role` varchar(255) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `date_creation` datetime NOT NULL,
  `top_actif` tinyint(4) NOT NULL,
  `num_tel` varchar(20) DEFAULT NULL,
  `id_client` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `UNIQ_1D1C63B3E7927C74` (`email`),
  KEY `IDX_1D1C63B3E173B1B8` (`id_client`),
  CONSTRAINT `FK_1D1C63B3E173B1B8` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-08-16  7:12:46
