<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
		{% if frankenphpHotReload %}
			<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
			<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
			<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
		{% endif %}
	</head>
	<body>
		<main class="flex w-full min-h-screen">
			<aside class="min-w-[180px] w-[20%] top-0 left-0 bg-gray-900 text-white p-4">
				<nav
					class="space-y-2">
					<!--Liens de navigation-->
					<div class="liens">
						<a href="{{ path('app_ticket_new') }}">Nouveau ticket</a>
					</div>
					<!--Séparateur-->
					<div class="w-[90%] h-[2px] bg-gray-600 mx-auto"></div>
					<!--stats-->
					<div class="stats mx-auto">
						<div class="start-1 h-[150px] w-[150px] rounded-xl bg-amber-200 mt-[16px] flex flex-col justify-center items-center mx-auto">
							<h3 class="text-black text-center text-2xl  ">Tickets</br>
							ouvert
						</h3>
						<p class="text-black text-center text-4xl font-bold mt-2">10</p>
					</div>
					<div class="start-2 h-[150px] w-[150px] rounded-xl bg-green-100 mt-[16px] flex flex-col justify-center items-center mx-auto">
						<h3 class="text-black text-center text-2xl ">Tickets</br>
						en cours</h3>
					<p class="text-black text-center text-4xl font-bold mt-2 ">4</p>
				</div>

			</nav>
		</aside>
		<div class="flex-1"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
</main></body></html></body></html>
