{% extends 'base.html.twig' %}

{% block title %}Nouveau Logiciel
{% endblock %}

{% block body %}
	<h1>Ajouter un nouveau Logiciel</h1>

	{{ include('logiciel/_form.html.twig') }}

	<a href="{{ path('app_logiciel_index') }}">Retour</a>
{% endblock %}
